name: Android Build

on: push

jobs:
  build:
    name: android_project_test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set Up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 1.11

      - name: Build Project
        run: ./gradlew assemble

      - name: Run tests
        run: ./gradlew test

      - name: Lint Check
          run: ./gradlew ktlintCheck detekt