name: Android Build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build Project
        run: ./gradlew assemble

      - name: Static Analysis
        run: ./gradlew ktlint detekt

#      - name: Danger Checks
#        run: |
#          gem install bundler
#          bundle install

      - name: Danger # And Danger action
        uses: docker://ghcr.io/danger/danger-kotlin:1.0.0
        with:
          args: --dangerfile config/danger/dangerfile.df.kts # Note I have config located like this
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Extracted automatically